/data/graphs/graph_10_withOneCycle.pickle
.idea/
*.DS_Store
*/__pycache__/*
/data/graphs/graph_200.pickle
/data/graphs/graph_10.pickle
/data/urls/url_10.pickle
/data/urls/url_200.pickle
/data/urls/urls_10.pickle
baseline/.DS_Store
/baseline/probability/benign_probability_GaussianNB.csv
/baseline/probability/benign_probability_LogisticRegression.csv
/baseline/probability/benign_probability_RandomForestClassifier.csv
/baseline/checkPerformance.py
/baseline/features/features_default.csv
/baseline/data/new_benign_phishing_urls.csv
/baseline/features/normalized_features.csv
/baseline/data/old_benign_phishing_urls.csv
/module/graphPlotModule.py
/lbp_final.py
/logfile_53K/logfile_53K.txt
/logfile_53K_classification_thresholds.txt
/logfile_53K_cos.txt
/logfile_53K/logfile_53K_old.txt
/logfile_53K/logfile_53K_thresholds_max_420.txt
/logfile_53K_thresholds_max_421.txt
/logfile_53K/logfile_53K_thresholds_min.txt
/logfile_53K/logfile_100K.txt
/logfile_100K_cos.txt
/logfile_100K_thresholds_min.txt
/logfile_final_cos.txt
/logfile_old_dataset/logfile_final_sim_only.txt
/logfile_old_dataset/logfile_final_thresholds_max_420.txt
/logfile_old_dataset/logfile_final_thresholds_min_420.txt
/logfile_new.txt
/logfile_new_rbf.txt
/data_processing/data/malicious_phish_ipns.csv
/embedding/word2vec_emb_data/original_emb_file.pickle
/data/similarity/word2vec_53K_cos_similarity.pickle
/data/similarity/word2vec_100K_cos_similarity.pickle
/data/similarity/word2vec_new_cos_similarity.pickle
/embedding/wordbased/word2vec_new_dataset_model.sav
/data_processing/data/unique_url_ip_nameserver_dataset.csv
/data/urls/json/url_53K.json
/data/urls/url_100.pickle
/data/urls/json/url_100K.json
/data/urls/json/url_new.json
/data/urls/json/url_random.json
/data/urls/url_random.pickle
/data/emb_file.pickle
/embedding/word2vec_emb_data/emb_file.pickle
/embedding/wordbased/doc2vec_new_dataset_model.sav
/embedding/4.18 result
/embedding/25K dataset
/logfile_53K/53K_thresholds_max.csv
/logfile_53K/53K_thresholds_min.csv
/embedding/100K dataset
/embedding/417_results.txt
/embedding/word2vec_emb_data/address_emb_file.pickle
/module/dataset_20.csv
/embedding/word2vec_emb_data/domain_emb_file.json
/embedding/word2vec_emb_data/domain_emb_file.pickle
/data_processing/data/new_dataset.csv
/logfile_old_dataset/final_thresholds_max.csv
/logfile_old_dataset/final_thresholds_min.csv
/embedding/wordbased/g_multiprocess.py
/module/graph_20.pickle
/data/graph_new.pickle
/embedding/graphbased/graphbased_emb.py
/data_processing/data_preprocessing.py
